
<sb-layout-dashboard
>    <sb-table-heading title="Price" [hideBreadcrumbs]="true"></sb-table-heading>
    <sb-card-one>

        <div class="card-body " style="padding:0px;">




            <table class="table table_form customtable">

                <tbody>


                    <tr>
                    <td class="td_bg">Name
                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value="" id="name" size="50" class="form-control">            </div>
                    </td>
                </tr>

                <tr>
                    <td class="td_bg">Start Date
                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>


                <tr>
                    <td class="td_bg">End Date
                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>

                <tr>
                    <td class="td_bg">Customer
                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>








                 </tbody>

                </table>


                <sb-save-cancel></sb-save-cancel>


        </div>
    </sb-card-one>    </sb-layout-dashboard>
