
<sb-layout-dashboard
>    <sb-table-heading title="Product & Services" [hideBreadcrumbs]="true"></sb-table-heading>
    <sb-card-one>

        <div class="card-body " style="padding:0px;">            <table class="table table_form customtable">

                <tbody>


                    <tr>
                    <td class="td_bg">Product Name
                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value="" id="name" size="50" class="form-control">            </div>
                    </td>
                </tr>

                <tr>
                    <td class="td_bg">Unit
                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>


                <tr>
                    <td class="td_bg">Sales Price

                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>

                <tr>
                    <td class="td_bg">Purchase Price

                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>


                <tr>
                    <td class="td_bg">Product Status

                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>


                <tr>
                    <td class="td_bg">Product Code


                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>

                <tr>
                    <td class="td_bg">Description Product


                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>

                <tr>
                    <td class="td_bg">Product Family



                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>


                <tr>
                    <td class="td_bg">BarCode Reader                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>

                <tr>
                    <td class="td_bg">Valuation costing
                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>

                <tr>
                    <td class="td_bg">Tracking Inventory

                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>

                <tr>
                    <td class="td_bg">Delivery
                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>


                <tr>
                    <td class="td_bg">Minimum Stock Qtn

                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>

                <tr>
                    <td class="td_bg">Vendor_id


                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>


                <tr>
                    <td class="td_bg">Vendor description



                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>


                <tr>
                    <td class="td_bg">negative stock                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>


                <tr>
                    <td class="td_bg">Receiving Location
                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>

                <tr>
                    <td class="td_bg" colspan="3">
                        <span (click)="toggleAdvanceMore()" class="badge badge-danger">Advance (More)</span>
                    </td>
                </tr>

                <tr *ngIf="selectAdvanceMore" >
                    <td class="td_bg"  colspan="3">

                            <table class="table table-bordered table-dark">
                                <tr>
                                    <td class="td_bg">Private note

                                        <span class="required_field ">*</span></td>
                                    <td class="td_bg" colspan="2">
                                    <div class="input-group">
                                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                                    </td>
                                </tr>

                                <tr>
                                    <td class="td_bg">Net Weight


                                        <span class="required_field ">*</span></td>
                                    <td class="td_bg" colspan="2">
                                    <div class="input-group">
                                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                                    </td>
                                </tr>

                                <tr>
                                    <td class="td_bg">Width


                                        <span class="required_field ">*</span></td>
                                    <td class="td_bg" colspan="2">
                                    <div class="input-group">
                                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                                    </td>
                                </tr>

                                <tr>
                                    <td class="td_bg">Height


                                        <span class="required_field ">*</span></td>
                                    <td class="td_bg" colspan="2">
                                    <div class="input-group">
                                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                                    </td>
                                </tr>

                                <tr>
                                    <td class="td_bg">Length


                                        <span class="required_field ">*</span></td>
                                    <td class="td_bg" colspan="2">
                                    <div class="input-group">
                                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                                    </td>
                                </tr>

                                </table>

                    </td>
                </tr>


                <tr>
                    <td class="td_bg">VAT On Purchase

                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>


                <tr>
                    <td class="td_bg">Vat on sale


                        <span class="required_field ">*</span></td>
                    <td class="td_bg" colspan="2">
                    <div class="input-group">
                    <input type="text" name="name" value=""  id="name" size="50" class="form-control mb-40">            </div>


                    </td>
                </tr>



                 </tbody>

                </table>


                <sb-save-cancel></sb-save-cancel>


        </div>
    </sb-card-one>    </sb-layout-dashboard>
